<h1>Listing planets</h1>
<%= link_to 'New Planet', new_planet_path %>
<div class="table-model">
<%= grid(@planets_grid) do |g|

    g.row_attributes do |version|
    {style: 'background-color: rgb(255, 255, 204);'}
    end

  g.column name: 'Planet', attribute: 'planet_name' do |planet|
    planet.planet_name
  end

  g.column name: 'Galaxy',model: Galaxy, attribute: 'galaxy_name' do |planet|
    link_to planet.galaxy.galaxy_name , galaxy_path(planet.galaxy_id)
  end
  g.column name: 'View' do |planet|
    link_to('View', planet_path(planet))
  end

  g.column name: 'Edit' do |planet|
    link_to('Edit', edit_planet_path(planet))
  end
  g.column name: 'Destroy' do |planet|
    link_to 'Destroy', planet, method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>
</div>
