<center>
<h1>Charts</h1>
<div class="menu">
<%= link_to "Product Family Chart" , charts_product_family_path  %><br>
<%= link_to "Galaxy Charts" , charts_galaxy_path %><br>
<%= link_to "Alien Category Chart" , charts_alien_category_path %><br>
<%= link_to "Log Chart - By Created Date", charts_logs_path %><br>
</div>