<div class="table-model">
<h1>Listing products</h1>
<%= link_to 'New Product', new_product_path %>
<%= grid(@products_grid) do |g|

    g.row_attributes do |version|
    {style: 'background-color: rgb(255, 255, 204);'}
    end

  g.column name: 'Product Name', attribute: 'product_name' do |product|
    product.product_name
  end

  g.column name: 'Product Family', model: Family , attribute: 'product_family' do |product|
    show_family(product.family_id)
  end
  g.column name: 'View' do |product|
    link_to('View', product_path(product))
  end

  g.column name: 'Edit' do |product|
    link_to('Edit', edit_product_path(product))
  end
  g.column name: 'Destroy' do |product|
    link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>
</div>
<%= link_to 'New Product', new_product_path %>
