<div class="table-model">

<h1>Listing aliens</h1>
<%= link_to 'New Alien', new_alien_path %>
<%= grid(@aliens_grid) do |g|

    g.row_attributes do |version|
    {style: 'background-color: rgb(255, 255, 204);'}
    end

  g.column name: 'Alien Name', attribute: 'alien_name' do |alien|
    alien.alien_name
  end

  g.column name: 'Alien Category',model: Category , attribute: 'alien_category' do |alien|
    show_category(alien.category_id)
  end
  g.column name: 'View' do |alien|
    link_to('View', alien_path(alien))
  end

  g.column name: 'Edit' do |alien|
    link_to('Edit', edit_alien_path(alien))
  end
  g.column name: 'Destroy' do |alien|
    link_to 'Destroy', alien, method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>
</div>
<%= link_to 'New Alien', new_alien_path %>
